<div class="container-fluid mrnd-navbar">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10 mrnd-navbar-pos">
                <div class="mrnd-navbar-inner row">
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <div class="mrnd-logo" onclick="window.location='index.html'"></div>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-6 mrnd-navbar-pos">
                        <div class="col-md-9 col-sm-8 col-xs-6">
                        
                          <!--  <div class="search-bar">
                                <form class="search-form">
                                    <input class="search-input" placeholder="Search">
                                    <div class="search-icon"></div>

                                </form>
                            </div>-->
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <div class="mrnd-navbar-logged-user">
                                Welcome Yamini

                            </div>
                            <div class="settings-button">
                                <div class="settings-menu-container">
                                    <div class="settings-menu-triangle"></div>
                                    <div class="settings-menu">
                                        <div class="settings-menu-item">Accounts Settings</div>
                                        <div class="settings-menu-item">Profile Data</div>
                                        <div class="settings-menu-item">Messages</div>
                                        <div class="settings-menu-item">Interview Calender</div>
                                        <div class="settings-menu-item">Contact Admin</div>
                                        <div class="settings-menu-item"><a href="#!/login">Log out<span class="glyphicon glyphicon-log-out pull-right"></span></a></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>